<div class="row">
    <div class="col-6">
        value:
        <pre>{{f.value | json}}</pre>
    </div>
    <div class="col-6">
        <form #f="ngForm" (submit)='buttonClick(f)'>

            <input ngModel name="firstName" class="form-control mb-3"
                [ngClass]="{'is-valid': !f.controls['firstName']?.errors, 'is-invalid': f.controls['firstName']?.errors}"
                placeholder="firstName" required>

            <input ngModel name="lastName" class="form-control mb-3"
                [ngClass]="{'is-valid': !f.controls['lastName']?.errors, 'is-invalid': f.controls['lastName']?.errors}"
                placeholder="lastName" required>

            <input ngModel name="email" class="form-control mb-3"
                [ngClass]="{'is-valid': !f.controls['email']?.errors, 'is-invalid': f.controls['email']?.errors}"
                placeholder="email" required>

            <input ngModel name="password" class="form-control mb-3"
                [ngClass]="{'is-valid': !f.controls['password']?.errors, 'is-invalid': f.controls['password']?.errors}"
                placeholder="password" type="password" required minlength="5">

            <button type="submit" class="btn btn-primary">Submit</button>

        </form>
    </div>
</div>
