<div class="row">
    <div class="col-6">
        value:
        <pre>{{f?.value | json}}</pre>
    </div>

    <div class="col-6">
        <form #f="ngForm">

            <input ngModel name="email" class="form-control mb-3" placeholder="email" required
                [ngClass]="{'is-valid': !f.controls['email']?.errors, 'is-invalid': f.controls['email']?.errors}">

            <input ngModel name="password" type="password" class="form-control mb-3" placeholder="password" required minlength="5"
                [ngClass]="{'is-valid': !f.controls['password']?.errors, 'is-invalid': f.controls['password']?.errors}">

            <button (click)="sendForm(f)" class="btn btn-primary">Submit</button>

        </form>
    </div>
